###### Use the command below to install the packages 
###### according to the configuration file requirements.txt.
# python -m pip install -r requirements.txt


###### Requirements without Version Specifiers ######
Pandas
Plotly
Matplotlib
JupyterLab
Streamlit


